.main-content {
  .main-title {
    padding-top: 50px;
  }
  .search-box {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  input {
   height: 45px;
  }
  .brand-nav {
    li {
      i {
      font-size: 95px;
      margin-bottom: 10px;
      }
      &:hover {
        opacity: 0.8;
        h5 {
          color: $primary;
        }
      }
    }
  }
  .welcome {
    img {
      width: 80px;
      padding-left: 20px;
      &:hover {
        opacity: 0.8;
      }
    }
    @media #{$small-only} {
      .small-12 {
        text-align: center !important;
      }
    }
  }
}
