.main-content {
  min-height: 100vh;
  margin-top: -75px;
  padding-top: 75px;
  margin-bottom: -119px;
  padding-bottom: 119px;
}
hr{
  margin: 0;
}
ol.toc{
  li {
    font-size: 14px;
  }
  & > li {
    list-style-type: lower-roman;
    ol > li {
      list-style-type: lower-alpha;
    }
  }
}
.gray-bg {
  padding: 10px 15px 5px 15px;
  background-color: $gray-bg;
}
a{
  color: $primary;
  &:hover{
    color: $primary-hover;
    text-decoration: none;
  }
}
a.reverse{
  color: $primary-hover;
  &:hover{
    color: $primary;
  }
}
.remove-border{
  border: none !important;
}
.button.primary{
  background-color: $primary;
  color: white;
  &:hover{
    background-color: $primary-hover !important;
  }
}
.wrap {
  padding-top: 40px;
  padding-bottom: 40px;
}
.gray-bg {
  background-color: $gray-bg;
}
.black-bg {
  background-color: black;
}
