.search-content {
  padding-top: 105px;
  padding-bottom: 150px;
  .ts-no-results, .ts-loading-message {
    text-align: center;
  }
}
body form input.search-input {
  line-height: $topbar-height / 2;
}
/* Change color of search result text */
.tinysou-widget .autocomplete ul li p.title {
  color: $primary;
}

/* Change background color of selected search result */
.tinysou-widget .autocomplete ul li.active {
  background: none;
  background-color: $primary;
  border-top: 1px solid $gray-light-border;
  border-bottom: 1px solid $gray-light-border;
}

/* change the color of the section text (displayed below the title) */
.tinysou-widget .autocomplete ul li.active .sections em {
  color: white;
}

.ts-result h3 a {
  font-size: $h5-font-size;
}
body span.ts-snippet em {
  color: #dc6a00;
  font-style: normal;
  font-weight: normal;
  font-size: $h5-font-size;
  background-color: white;
}
