$primary: hsla(187, 69, 46, 1);
$primary-hover: hsla(0, 0, 48, 1);

$gray-btn: hsla(42, 15, 35, 0.2);

$gray-text: hsla(0, 0, 0, 0.5);
$gray-bg: hsla(0, 0, 96, 1);
$gray-light-bg: hsla(0, 0, 97, 1);

$gray-dark-border: hsla(0, 0, 80, 1);
$gray-border: hsla(0, 0, 90, 1);
$gray-light-border: hsla(48, 7, 87, 1);

$orange: hsla(21, 100, 50, 1);
$orange-bg: hsla(21, 100, 50, 0.1);

$yellow: hsla(66, 100, 48, 1);

$green: hsla(80, 100, 37, 1);

$gray: hsla(37, 3, 53, 1);
$gray-dark2: hsla(37, 3, 23, 1);
$gray-dark1: hsla(37, 3, 33, 1);


$gray-dark1-bg: hsla(0, 0, 95, 1);
$gray-dark2-bg: hsla(0, 0, 89, 1);
$gray-dark3r-bg: hsla(0, 0, 65, 1);

$white-dark: hsla(360, 0, 95, 1);

$blue-dark3: hsla(198, 92, 39, 1);
$blue-dark2: hsla(198, 92, 41, 1);
$blue-dark1: hsla(198, 92, 43, 1);

$blue: hsla(198, 92, 55, 1);

$blue-light1: hsla(198, 92, 57, 1);
$blue-light2: hsla(198, 92, 59, 1);
$blue-light3: hsla(198, 92, 61, 1);
